* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace; }

body {
  z-index: 0;
  background-color: #f3f5f9;
  display: flex;
  flex-direction: column; }

header {
  z-index: 100;
  margin-top: 50px;
  width: 100%;
  position: fixed;
  top: -50px;
  background-color: white;
  transition: all 0.7s ease-out; }

.header-wrap {
  z-index: 100;
  width: 80%;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px; }

.landing-logo {
  display: inline-block;
  align-items: center; }
  .landing-logo img {
    height: 45px;
    float: left; }

.inline {
  display: inline-block; }

.float-right {
  float: right; }

.center {
  display: flex;
  justify-content: center;
  align-items: center; }

.button {
  background-color: #f7991c;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 2px;
  cursor: pointer;
  border-radius: 50%;
  width: 41px;
  height: 41px; }

.button-std {
  background-color: blue;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 2px;
  cursor: pointer;
  border-radius: 5%;
  width: 80px;
  height: 30px; }
  .button-std:hover {
    border: none;
    background-color: darkblue; }

.button-img {
  width: 41px;
  height: 41px;
  margin: 2px;
  color: lightgray;
  cursor: pointer;
  text-align: center;
  text-decoration: none; }
  .button-img:hover {
    color: gray; }

.profile-popup {
  z-index: 100;
  display: none;
  position: absolute;
  top: 60px;
  right: 50px;
  height: 104px;
  width: 160px;
  background-color: white;
  border: none;
  border-radius: 1px;
  box-shadow: 0 0 25px 1px rgba(61, 55, 61, 0.4); }

.profile-text {
  padding-top: 10px; }

.profile-actions {
  padding-top: 4px;
  margin-bottom: 4px;
  width: 80%;
  height: 100%;
  font-family: sans-serif; }
  .profile-actions:hover {
    background-color: lightskyblue;
    transition: background-color 0.5s linear; }

hr {
  margin-top: 5px;
  margin-bottom: 8px;
  width: 80%; }

#toggle:checked ~ .profile-popup {
  display: flex;
  flex-direction: column; }

input[type="checkbox"] {
  position: absolute;
  top: -9999px;
  left: -9999px; }

main {
  margin-top: 65px;
  width: 100%;
  position: fixed; }

.section {
  display: block;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(8, minmax(70px, 1fr));
  width: 80%;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px; }

.section-binary {
  position: relative;
  grid-column: 1/3;
  grid-row: 1/5; }

.section-binary_top_card {
  width: 100%;
  height: 100%;
  background-color: white;
  position: static;
  opacity: 1; }
  .section-binary_top_card:hover {
    position: absolute;
    opacity: 0;
    transition: opacity 1s linear; }

.section-binary_bottom_card {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  opacity: 0; }
  .section-binary_bottom_card:hover {
    position: absolute;
    opacity: 1;
    transition: opacity 1s linear; }

.section-qa {
  width: auto;
  display: inline-block;
  grid-column: 1/3;
  grid-row: 5/-1; }

.section-qa-top-card {
  height: 100%;
  width: 100%;
  background-color: #43b367;
  font-size: 56pt;
  color: white;
  display: flex; }
  .section-qa-top-card p {
    font-family: sans-serif; }

.section-qa:hover .section-qa-top-card {
  display: none; }

.section-qa:hover .bottom_card {
  padding: 20px;
  background-color: white;
  position: absolut;
  font-size: 16pt;
  display: none;
  height: 100%;
  width: 100%;
  display: flex; }
  .section-qa:hover .bottom_card img {
    height: 60%; }

.bottom_card {
  padding: 20px;
  background-color: white;
  position: absolut;
  font-size: 16pt;
  display: none;
  height: 100%;
  width: 100%; }
  .bottom_card img {
    height: 60%; }

.section-js {
  position: relative;
  grid-column: 3/5;
  grid-row: 1/7;
  background-color: #f1c45a;
  font-size: 56pt;
  display: flex;
  justify-content: flex-end; }
  .section-js div {
    align-self: flex-end; }

.section-java {
  position: relative;
  grid-column: 3/5;
  grid-row: 7/-1;
  color: white;
  background-color: #d51f3b;
  font-size: 24pt; }

.section-php {
  z-index: 1;
  grid-column: 5/-1;
  grid-row: 1/4;
  font-size: 48pt;
  font-style: italic;
  background-color: #7883b3; }

.section-net {
  grid-column: 5/8;
  grid-row: 4/-1;
  background-color: #531765;
  font-size: 56pt;
  color: white; }

.section-events {
  grid-column: 8/-1;
  grid-row: 4/6;
  color: white;
  background-color: #248af9; }

.section-blog {
  grid-column: 8/-1;
  grid-row: 6/8;
  color: white;
  background-color: #003493; }

.section-contacts {
  grid-column: 8/-1;
  grid-row: 8/-1;
  color: white;
  background-color: #001c50; }

.top_card {
  position: static;
  opacity: 1; }
  .top_card p {
    font-family: sans-serif; }
  .top_card:hover {
    position: absolute;
    opacity: 0;
    transition: opacity 1s linear; }

.snack-bar {
  position: absolute;
  bottom: 10px;
  right: 50px; }

.snack {
  margin-top: 20px;
  width: 200px;
  height: 100px;
  color: white; }

.completed {
  background-color: #94ff94d7; }
  .completed i {
    color: white; }

.error {
  background-color: #ff5c5cc7; }
  .error i {
    color: white; }

.snack-message {
  padding: 20px; }
  .snack-message P:first-child {
    font-weight: bold; }

.footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 10px; }

.footer_wrp {
  display: flex; }
